blockquote{
	padding: 15px;
	background-color: lightyellow;
	border-left:thick solid #ff7559;
}
img{
	width: 100%; /* Ширина в процентах */
}
/* Код */
pre {
	background: #fbfdff;
	border: 1px solid #e5e8ec;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 1.6;
	margin: 0;
	overflow: auto;
	padding: 17px 20px;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	white-space: pre;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
}


.spoiler_title{
    color: dodgerblue;
	text-decoration: none;
	padding-left: 15px;
}

.spoiler_text{
	display: none;
}
