<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>404 Error</title>
</head>
<body>
  <div class="row align-items-center">
    <div class="col text-center">
        <h1 class="text-center">404 Error</h1>
        <h3>Этой страницы не существует. Возможно, автор скрыл её или она была удалена.</h3>
        <h4>Так же возможно, что статья новая и её еще нет в базе данных. Попробуйте позже.</h4>
    </div>
  </div>
</body>
</html>