<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HabrMirror</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
    <script src="{{ url_for('static', filename='js/post.css') }}"> </script>
    <script src="https://kit.fontawesome.com/21423304ad.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
            <div class="header">
                <h1>{{ post[3] }}</h1>
                <br>
                <p class="lead">
                    <strong class="author">{{ date }}</strong> от <strong class="author"> {{ post[2] }}</strong>
                </p>
                <br>
                {% if post[9] == 1 %}
                    <p class="tutorial">Tutorial</p> <br>
                {% endif %}

                <i class="fas fa-comments"></i> {{ post[6] }} |
                <i class="fas fa-arrows-alt-v"></i> {{ post[8] }} |
                <i class="fas fa-eye"></i> {{ post[7] }} раз
            </div>
            <div class="content">
                <br>

                <br>
                <div>
                    <p>{{ post[4]|safe }}</p>
                </div>
                <br>
                <strong><i class="fas fa-tags"></i> Теги:</strong> {{ post[10] }}
                <br>
                <br>
                <br>
            </div>
    </div>
    <div id="comments">
        {% for comment in comments %}
            <div class="comment">
                <div class="comment-header">
                    <strong>{{ comment[8] }}</strong>
                    <sup>{{comment[4]}} | <i class="fas fa-arrows-alt-v"></i> {{ comment[5] }}</sup>

                </div>
                {{comment[6]|safe}}
                <br>
            </div>
        {% endfor %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        (async () => {
            for (let node of document.getElementsByTagName('img')) {
                await new Promise(res => {
                    node.src = node.dataset.src;
                    node.onload = () => res();
                })
            }
        })();

        $(document).on('click', '.spoiler_title', function (e) {
            e.preventDefault();
            $(this).toggleClass('active');
            $(this).parent().find('.spoiler_text').first().slideToggle(300);
        })
    </script>

</body>

</html>