<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">

    <title>{{ post[3] }}</title>
</head>

<body>
    <div class="container">
            <div class="header">
                <h1 class="display-4">{{ post[3] }}</h1>
                <br>
                <p class="">
                    <strong class="author">{{ date }}</strong> от <strong class="author"> {{ post[2] }}</strong>
                </p>

                {% if post[9] == 1 %}
                    <mark>Tutorial</mark> <br>
                {% endif %}

                <i class="fas fa-comments"></i> {{ post[6] }} |
                <i class="fas fa-arrows-alt-v"></i> {{ post[8] }} |
                <i class="fas fa-eye"></i> {{ post[7] }} раз
            </div>
            <div class="content">
                <br>

                <br>
                <div>
                    <p>{{ post[4]|safe }}</p>
                </div>
                <br>
                <strong><i class="fas fa-tags"></i> Теги:</strong> {{ post[10] }}
                <br>
                <br>
                <br>
            </div>
            <div id="comments">
                <h2>Комментарии</h2>
                {% for comment in comments %}
                    <div id="{{ comment[0] }}" class="shadow-sm p-3 mb-5 bg-light rounded">
                        <div class="comment-header">
                            <small>#{{comment[0]}}</small>
                            <strong>{{ comment[8] }}</strong>
                            <small>{{comment[4]}} | <i class="fas fa-arrows-alt-v"></i> {{ comment[5] }}</small>
                        </div>
                        {% if comment[1] != 0 %}
                            <small><a href="#{{comment[1]}}"><mark>В ответ #{{ comment[1] }}</mark></a></small>
                            {{comment[6]|safe}}
                        {% else %}
                            {{comment[6]|safe}}
                        {% endif %}
                        <br>
                    </div>
                {% endfor %}
            </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/21423304ad.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.5/lib/darkmode-js.min.js"></script>
    <script>
        new Darkmode().showWidget();
    </script>


    <!--  Пара костылей  -->
    <script>
        // Загрузка изображений
        (async () => {
            for (let node of document.getElementsByTagName('img')) {
                await new Promise(res => {
                    if(node.dataset.src !== undefined){
                        node.src = node.dataset.src;
                        node.onload = () => res();
                    }
                })
            }
        })();

        // Работа спойлеров
        $(document).on('click', '.spoiler_title', function (e) {
            e.preventDefault();
            $(this).toggleClass('active');
            $(this).parent().find('.spoiler_text').first().slideToggle(300);
        });

        // Цитаты становятся похожи на цитаты
        $("blockquote:nth-child(1n)").addClass("blockquote");

    </script>
</body>

</html>